/* Large desktops and laptops */
@media (min-width: 1200px) {
	body{
		background-position: right ;
		background-size: 50% 100%;
	}
	.card{
		width: 500px;
	}
}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
	body{
		background-position: right ;
		background-size: 50% 100%;
	}

	.home-container{
		padding-left: 50px;
		padding-top: 0px;
		padding-bottom: 0px;
		justify-content: flex-start;
		height: 100%;
		align-items: center;
	}

	.card{
		width: 478px;
	}

	.navbar-item{
		padding-left: 50px;
		gap:50px;
	}

	.navbar-item a {
		font-size: 26px;
	}

	.navbar-theme{
		margin-right: 47px;
	}

	.image-dev{
		width: 100px;
		height: 100px;
	}

	.card-item{
		width: 100%;
	}

	.card-item-title{
		height: 79px;
	}

	.card-item-title h1{
		font-size: 45px;
	}

	.card-item-title h2{
		font-size: 25px;
	}

	.card p{
		font-size: 17px;
	}


	footer{
		padding-left: 50px;
		padding-bottom: 28px;

	}

	footer h2 {
		font-size: 33px;
	}

	.btn-blog{
		width: 130px;
		height: 50px;
		font-size: 20px;
	}

}	

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
	body{
		background-position: right ;
		background-size: 50% 100%;
	}

	.card{
		width: 358px;
	}

	.navbar-item{
		padding-left: 50px;
		gap:40px;
	}

	.navbar-item a {
		font-size: 26px;
	}

	.navbar-theme{
		margin-right: 47px;
	}

	.home-container{
		padding-left: 50px;
		padding-top: 0px;
		padding-bottom: 0px;
		justify-content: flex-start;
		height: 100%;
		align-items: center;
	}

	.image-dev{
		width: 100px;
		height: 100px;
	}

	.card-item{
		width: 100%;
	}

	.card-item-title{
		height: 79px;
	}

	.card-item-title h1{
		font-size: 35px;
	}

	.card-item-title h2{
		font-size: 20px;
	}

	.card p{
		font-size: 13px;
	}

	footer{
		padding-left: 50px;
		padding-bottom: 28px;
		gap: 20px;

	}

	footer h2 {
		font-size: 25px;
	}

	.footer-link {
		gap: 20px;
	}

	.btn-blog{
		width: 130px;
		height: 50px;
		font-size: 20px;
		margin-top: 20px;
	}

}	

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
	body{
		background-image: none;
	}

	.navbar{
		padding-top: 7px;
	}

	.navbar-item{
		padding-left: 24px;
		gap: 30px;
		
	}

	.navbar-item a{
		font-size: 16px;
	}

	.navbar-theme{
		margin-right: 20px;
	}

	.home-container{
		padding-left: 0px;
		padding-top: 0px;
		padding-bottom: 0px;
		justify-content: center;
	}
	
	.card{
		width: 438px;
		height: 500px;
		justify-content: center;
		align-items: center;
		text-align: center;
	}

	.image-dev {
		width: 80px;
		height: 80px;
	}

	.card-item-title{
		width: 200px;
		height: 48px;
	}


	.card-item-title h1{
		font-size: 34px;
	}

	.card-item-title h2 {
		font-size: 16px;
	}

	.card-item{
		justify-content: center;
		height: 95px;
		width: 100%;
	}

	.card p{
		font-size: 13px;

	}

	footer{
		padding-left: 0px;
		padding-bottom: 0px;
		gap: 20px;
		justify-content: center;

	}

	footer h2 {
		font-size: 25px;
	}

	.footer-link {
		gap: 20px;
	}

	.link-item{
		width: 40px;
		height: 40px;
	}

	.link-item{
		width: 23px;
		height: 23px;
	}

	.btn-blog{
		width: 100px;
		height: 50px;
		font-size: 18px;
	}

}

@media (max-width: 634px) {
	body{
		background-image: none;
	}
}	

/* Landscape phones and smaller */
@media (max-width: 480px) {
	body{
		background-position: none;
	}

	.card p{
		width: 350px;
	}


}