/* Estilos Generales */
*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto Mono', monospace;
}

.style-btn {
    /* Estilos para la tarjeta */
    transition: transform 0.3s;
}
  
.style-btn:hover {
    /* Estilos para el hover */
    transform: scale(1.05);
}

.style-nav {
    /* Estilos para la tarjeta */
    transition: transform 0.3s;
}
  
.style-nav:hover {
    /* Estilos para el hover */
    transform: scale(1.10);
}
  

/* Estilos del body */
body {
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
    background-color: #121127;
    background-image: url("/src/assets/image-fondo.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: right top;
    /* background-attachment: fixed; */

}

/* Estilos del navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 36px;
}

.navbar-item{
    display: flex;
    align-items: center;
    margin-left: 100px;
    gap: 100px;

}

.navbar-item a{
    text-decoration: none;
    font-size: 36px;
    font-weight: 700;
    line-height: 42.26px;
    color: rgba(177, 177, 177, 0.75);
    
}

.navbar-item .active-link {
    color: #FFFFFF;
}

.navbar-logo{
    width: 50px;
    height: 50px;
}

.navbar-theme {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 95.61px;
    height: 40px;
    margin-right: 160.39px;
    background-color: #121127;
    border-radius: 24px;
    cursor: pointer;
}

/* Estilos del Footer */
footer{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 100px;
    margin-bottom: 50px;
    gap: 39px;

}

footer h2 {
    font-size: 43px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800px;
    line-height: 50px;
    color: #42B5C3;
}


.footer-link{
    display: flex;
    gap: 28px;
}


/* Estilos del contenido del home */

.home-container {
    display: flex;
}

.card {
    width: 628px;
    height: 355px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 21px;
    margin-left: 100px;
    margin-top: 47px;
}

.card p {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 27px;
    line-height: 32px;
    color: #D0D0D0;
}

.btn-blog {
    width: 231px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #42B5C3;
    border-radius: 55px;
    cursor: pointer;
}

.btn-blog a{
    text-decoration: none;
    font-size: 35px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    line-height: 41px;
    color: #FFFFFF;
}

.card-item{
    display: flex;
    width: 525px;
    height: 138px;
    gap: 18px;
}



.card-item-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 371px;
    height: 138px;
}

.card-item-title h1{
    font-size: 68px;
    font-weight: 800;
    line-height: 80px;
    font-style: normal;
    color: #42B5C3;
    font-family: 'Raleway';

}

.card-item-title h2 {
    font-size: 32px;
    font-weight: 700;
    line-height: 140%;
    color: #F9F9FB;
    font-family: "Poppins";
}

.image-dev{
    width: 136px;
    height: 136px;
    border-radius: 200px;
}


/* Estilos del contenido de Blogs */

.blogs-container {
    padding-left: 160px;
    padding-right: 160px;
    padding-top: 60px;
}

.blogs-title{
    display: flex;
    
}

.blogs-title-item{
    border-bottom: 5px solid #3A55A5;
}

.blogs-title-item h1{
    font-size: 36px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    line-height: 42px;
    color: #FFFFFF;
}


/* Cards */

.blogs-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding-top: 36px;
    padding-bottom: 123px;

}

.blog-card-item{
    width: 449px;
    height: 562px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: #201F37;
    box-shadow: 0px 20px 50px rgba(18, 17, 39, 0.08);
    border-radius: 12px;
    transform: translateX(100%);
    transition: opacity 1s, transform 1s;
    

}

.blog-card-item.show{ 
    opacity: 1;
    transform: translateX(0);
}

.hidden {
    visibility: hidden;
}

.image-blog{
    width: 100%;
    height: 100%;
}

.card-item-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    padding: 20px 24px;
}

.item-content-title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.item-content-title p{
    font-size: 14px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    line-height: 170%;
    color: #96F2F8;
}

.item-content-title h2{
    font-size: 36px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    line-height: 42px;
    color: #42B5C3;
}

.card-item-content p {
    font-size: 17px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    line-height: 20px;
    color: #D6D6D6;
}

.btn-blog-item{
    width: 150px;
    height: 39px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #42B5C3;
    border-radius: 95px;
    cursor: pointer;
    padding-bottom: 5px;
}


/* Blog */

.blog-container-description{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    width: 933px;
    padding-left: 160px;
    padding-top: 60px;
    gap: 36px;
}

.blog-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.blog-card{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.image-blog-item{
    width: 100%;
    height: 362px;
    
}

.blog-content p{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 17px;
    line-height: 20px;
    color: #D6D6D6;
}

.blog-content h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 170%;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    color: #96F2F8;
}


.blog-title {
    display: flex;
}
  
  
.blog-title-item h1 {
    font-size: 36px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    line-height: 42px;
    color: #FFFFFF;
    position: relative;
}
  
.blog-title-item h1::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: calc(100% + 99px);
    height: 5px;
    background-color: #3A55A5;
 }

 .sidebar-title-item h2 {
    font-size: 36px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    line-height: 42px;
    color: #FFFFFF;
    position: relative;
}
  
.sidebar-title-item h2::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: calc(100% + 87.5px);
    height: 5px;
    background-color: #42B5C3;
}

 
.blog-item-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 162px;
    height: 39px;
    background: #42B5C3;
    border-radius: 95px;
    cursor: pointer;
}

.blog-item-btn a{
    text-decoration: none;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #121127;
}


.article-blog{
    display: flex;
    gap: 45px;
}

.sidebar{
    width: 374px;
    padding-top: 134px;
    padding-bottom: 108px;
/*     padding-right: 160px; */
}

.sidebar-item{
    display: flex;
    flex-direction: column;
    gap: 18px;
    padding-bottom: 51px;
}

.sidebar-item p{
    font-size: 29px;
    font-family: 'Raleway';
    font-weight: 700;
    line-height: 34px;
    color: rgba(255, 255, 255, 0.5);
}

.other-blogs{
    padding-top: 35px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.other-blogs p{
    font-size: 29px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    line-height: 34px;
    color: rgba(255, 255, 255, 0.5);
}

.sidebar-footer{
    padding-top: 142px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 39px;

}
    

.sidebar-footer h2 {
    font-size: 43px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    color: #42B5C3;
}

.other-links-item a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
    font-family: 'Raleway';
    font-size: normal;
    font-weight: 700;
    font-size: 29px;
    line-height: 34px;
}

.other-links-item a:hover{
    color: #42B5C3;
}